@keyframes blink {
    50%{
        opacity: 0.3
    }
    
}


body{
    background-image: url("background5.png");
    background-size: cover;
    
}

#wish{
    margin-top: 10vh;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(249, 252, 254);
}

#bday{
    padding-top: 40px;
    text-align: center;
    font-style: italic;
    
    font: weight 100px;
    font-size: 5rem;
    color: rgb(252, 15, 15);
}

p{
    font-size: 40px;
}


#but{
    text-align: center;
   background-color: rgb(246, 242, 242);
    border-radius: 2vh;
    border: solid;
    border-color: aliceblue;
   width: 12vw;
   height: 10vh;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   align-items: center;
    margin-top: 2vh;
    
}

button{
    margin-top: 2vh;
    margin-bottom: auto;
    width: 10vw;
    height:6vh;
    font-size: medium;
    border-radius: 1vh;
    background-color:rgb(12, 0, 0) ;
    color:rgb(251, 247, 247);
}

button:hover{
    background-color: rgb(102, 135, 135);
}

h1
{
    animation: blink 1s linear infinite;
    color: aliceblue;
    text-align: center;

}
