img{

    text-align: center;
    height: 50vh;
    border-radius: 3vh;
}

div{
    text-align: center;
    padding-top: 25vh;
}

h1{
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 30);
}

body{
   
    background-color: black;
}
